@using MOAS_LMS.Models
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/Site.css" rel="stylesheet" />


<div class=" main">

    @model LoginViewModel
    @{
        ViewBag.Title = "MOAS LMS ";
    }
    <br />
    @Html.AntiForgeryToken()
    @*<h3>Log in to MOAS MLS</h3>*@
    
            <div class="row">
                <div class="col-md-8 col-sm-push-2 sensimella">
                    <section id="loginForm">
                        <div class="lineMe"></div>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
                    @Html.AntiForgeryToken()
                    <h3>Use your account to log in</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", id = "inputPassword", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 ">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>

                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
}
                        <div class="lineMe"></div>
                    </section>
                </div>

            </div>
      
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
