@model IEnumerable<MOAS_LMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Teacher";
}

<h2>Teacher overview</h2>

<p>
    @Html.ActionLink("Create New", "RegisterTeacher")
</p>

<input id="myInput" type="text" placeholder="Search teacher...">

<table class="table">
    <thead>
        <tr>
            <th>
                User name
                @*@Html.DisplayNameFor(model => model.UserName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>

        @foreach (var item in Model)
        {
        <tbody id="myTable">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTeacher", new { id = item.Id }) |
                    @Html.ActionLink("Details", "DetailsTeacher", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteTeacher", new { id = item.Id })
                </td>
            </tr>
        </tbody>
    }
</table>

@section scripts {
    @Scripts.Render("~/Scripts/teachersearchfield.js")
}