@model MOAS_LMS.Models.ActivityModel

@{ 
    var aid = "activity" + Model.Id;
    var canEdit = User.IsInRole("Admin");
}

<div class="activity" id="@aid">
    <button class="collapsible">@Model.Name</button>
    <div class="content">
        @if (Model.StartDate.Day != Model.EndDate.Day) {
            <b>@Model.StartDate.ToString("ddd dd, HH:mm") - @Model.EndDate.ToString("ddd dd, HH:mm")</b>
        }
        else {
            <b>@Model.StartDate.ToString("ddd dd, HH:mm") - @Model.EndDate.ToString("HH:mm")</b>
        }
        <p>@Model.ActivityType.Name</p>
        <p>@Model.Description</p>
        <ul>
            @foreach (var doc in Model.Documents.Where(d => !d.IsHandIn)) {
                <li><a href="/Document/Get/@doc.Id">@doc.FileName</a> @if (User.IsInRole("Admin")) {@Html.ActionLink("[X]", "Delete", "Document", new { id = doc.Id }, null)} </li>
            }
        </ul>
        @if (canEdit) {
            <span>
                @Html.ActionLink("Edit", "Edit", "Activity", new { id = Model.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Activity", new { id = Model.Id }, null)
            </span>
            <form action="/Document/UploadToActivity/@Model.Id" method="post" enctype="multipart/form-data">
                <input type="file" name="file" value="" />
                <input type="submit" value="Upload" />
            </form>
        }
        @if (Model.ActivityType.AllowUploads) {
            <br />
            <b>HandIns</b>
            <ul>
                @if (User.IsInRole("Admin")) {
                    foreach (var doc in Model.Documents.Where(d => d.IsHandIn)) {
                        <li>@doc.Uploader.FullName: <a href="/Document/Get/@doc.Id">@doc.FileName</a> <a href="/Document/Feedback/@doc.Id">[Feedback]</a></li>
                    }
                }
                else {
                    foreach (var doc in Model.Documents.Where(d => d.IsHandIn && d.Uploader.Email == User.Identity.Name)) {
                        <li><a href="/Document/Get/@doc.Id">@doc.FileName</a> @if (!string.IsNullOrWhiteSpace(doc.Feedback)) {<a href="/Document/Feedback/@doc.Id">[FeedBack]</a>}</li>
                    }
                }
            </ul>
            if (!User.IsInRole("Admin")) {
                <form action="/Document/UploadHandIn/@Model.Id" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" value="" />
                    <input type="submit" value="Upload" />
                </form>
            }
        }
    </div>
</div>