@model MOAS_LMS.Models.ActivityModel

@{
    var aid = "activity" + Model.Id;
    var canEdit = User.IsInRole("Admin");
}

<div class="activity" id="@aid">
    <button class="collapsible">@Model.Name</button>
    <div class="content">
        @if (Model.StartDate.Day != Model.EndDate.Day) {
            <b>@Model.StartDate.ToString("ddd dd, HH:mm") - @Model.EndDate.ToString("ddd dd, HH:mm")</b>
        }
        else {
            <b>@Model.StartDate.ToString("ddd dd, HH:mm") - @Model.EndDate.ToString("HH:mm")</b>
        }
        <p>@Model.ActivityType.Name</p>
        <p>@Model.Description</p>
        <ul>
            @foreach (var doc in Model.Documents.Where(d => !d.IsHandIn)) {
                <li><a href="/Document/Get/@doc.Id">@doc.FileName</a> @if (User.IsInRole("Admin")) {@Html.ActionLink("[X]", "Delete", "Document", new { id = doc.Id }, null)} </li>
            }
        </ul>
        @if (canEdit) {
            <span>
                @Html.ActionLink("Edit", "Edit", "Activity", new { id = Model.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Activity", new { id = Model.Id }, null)
            </span>
            <form action="/Document/UploadToActivity/@Model.Id" method="post" enctype="multipart/form-data">
                <input type="file" name="file" value="" />
                <input type="submit" value="Upload" />
            </form>
        }
        @if (Model.ActivityType.AllowUploads) {
            <br />
            <b>HandIns</b>
            <table>
                <tr>
                    <th>User</th>
                    <th>File</th>
                    <th>Date</th>
                    <th>Feedback</th>
                </tr>
                @{
                    string prev = null;
                    var documents = Model.Documents.OrderBy(d => d.Uploader?.FullName).Where(d => d.IsHandIn);
                    if (!canEdit) {
                        documents = documents.Where(d => d.Uploader.Email == User.Identity.Name);
                    }
                }
                @foreach (var doc in documents) {
                    <tr>
                        @if (prev != doc.Uploader.Id) {
                            <td>@doc.Uploader.FullName</td>
                        }
                        else {
                            <td></td>
                        }
                        <td>@Html.ActionLink(doc.FileName, "Get", "Document", new { id = doc.Id }, null)</td>
                        <td>@doc.TimeStamp @if (doc.TimeStamp > Model.EndDate) {<span class="glyphicon glyphicon-time" style="color:red;"></span>}</td>
                        <td>@doc.Feedback @if (canEdit) {<a href="/Document/feedback/@doc.Id"><span class="glyphicon glyphicon-edit"></span> Edit </a>}</td>
                    </tr>
                }
            </table>
            if (!User.IsInRole("Admin")) {
                <form action="/Document/UploadHandIn/@Model.Id" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" value="" />
                    <input type="submit" value="Upload" />
                </form>
            }
            else {
                <p>
                    <b>Not handed in in: </b>
                    @{
                        var students = Model.Module.Course.Students.Where(s => s.Documents.All(d => !d.IsHandIn || d.Activity != Model));
                        if (students.Any()) {
                            foreach (var student in students) {
                                <span>@student.FullName, </span>
                            }
                        }
                        else {
                            <span>-None-</span>
                        }
                    }

                </p>
            }
        }
    </div>
</div>