@model MOAS_LMS.Models.ActivityModel

@{
    var aid = "activity" + Model.Id;
    var hid = "heading" + Model.Id;
    var canEdit = User.IsInRole("Admin");
    var aca = "accordion" + Model.Module.Id;
}



<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="@hid">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#@aca" href="#@aid" aria-expanded="false" aria-controls="@aid">
                <b>@Model.Name</b>
                @if (Model.StartDate.Day != Model.EndDate.Day) {
                    <span>@Model.StartDate.ToString("ddd dd, HH:mm") - @Model.EndDate.ToString("ddd dd, HH:mm")</span>
                }
                else {
                    <span>@Model.StartDate.ToString("ddd dd, HH:mm") - @Model.EndDate.ToString("HH:mm")</span>
                }
            </a>
        </h4>
    </div>
    <div id="@aid" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@hid">
        <div class="panel-body">
            <p>@Model.ActivityType.Name</p>
            <p>@Model.Description</p>
            <ul>
                @foreach (var doc in Model.Documents) {
                    <li><a href="/Document/Get/@doc.Id">@doc.FileName</a> @if (User.IsInRole("Admin")) {@Html.ActionLink("[X]", "Delete", "Document", new { id = doc.Id }, null)} </li>
                }
            </ul>
            @if (canEdit) {
                <span>
                    @Html.ActionLink("Edit", "Edit", "Activity", new { id = Model.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Activity", new { id = Model.Id }, null)
                </span>
                <p></p>
                <form action="/Document/UploadToActivity/@Model.Id" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" value="" />
                    <input class="fileUpload upload btn btn-primary" value="Upload" type="submit">
                </form>
            }
            @if (Model.ActivityType.AllowUploads) {
            
                
                <table class="handins">

                    <b>HandIns</b>
                    <tr>
                        <th>User</th>
                        <th>File</th>
                        <th>Date</th>
                        <th>Feedback</th>
                    </tr>
                    @{
        var documents = Model.Documents.OrderBy(d => d.Uploader?.FullName).Where(d => d.IsHandIn);
        if (!canEdit)
        {
            documents = documents.Where(d => d.Uploader.Email == User.Identity.Name);
        }
                    }
                    @foreach (var doc in documents)
    {
                <tr>
                    <td>@doc.Uploader.FullName</td>
                    <td>@Html.ActionLink(doc.FileName, "Get", "Document", new { id = doc.Id }, null)</td>
                    <td>@doc.TimeStamp @if (doc.TimeStamp > Model.EndDate)
    {<span class="glyphicon glyphicon-time" style="color:white;"></span>}</td>
                    <td>@doc.Feedback @if (canEdit)
    {<a href="/Document/feedback/@doc.Id"><span class="glyphicon glyphicon-edit" style="color:white;"></span> Edit </a>}</td>
                </tr>
}
                </table>
                if (!User.IsInRole("Admin")) {
                    <form action="/Document/UploadHandIn/@Model.Id" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" value="" />
                        <input class="fileUpload upload btn btn-primary" value="Upload" type="submit">
                    </form>
                }
                else {
                    var students = Model.Module.Course.Students.Where(s => s.Documents.All(d => !d.IsHandIn || d.Activity != Model));
                    if (students.Any()) {
                        <p>
                            <b>Not handed in: </b> @string.Join(", ", students.Select(s => s.FullName))
                        </p>
                    }
                }
            }
        </div>
    </div>
</div>