@model MOAS_LMS.Models.View.CourseViewModel

@{
    ViewBag.Title = "Details";
    var canEdit = User.IsInRole("Admin");
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @{
                DateTime tempTime = DateTime.Now.AddDays(-1);
                var activities = Model.Modules.SelectMany(m => m.Activities).OrderBy(a => a.StartDate);
                foreach (var activity in activities.SkipWhile(a => a.EndDate < DateTime.Now).Take(8)) {
                    var aid = "activity" + activity.Id;
                    <div>
                        @if (activity.EndDate.Date != tempTime.Date) {
                            <h4>@activity.StartDate.ToString("ddd dd, MMMM")</h4>
                        }
                        <a href="#@aid" onclick="expandActivity(@activity.Id)">
                            <b>@activity.Name</b>
                        </a>
                        @if (activity.StartDate.Day != activity.EndDate.Day) {
                            <p>@activity.StartDate.ToString("HH:mm") - @activity.EndDate.ToString("ddd dd, HH:mm")</p>
                        }
                        else {
                            <p>@activity.StartDate.ToString("HH:mm") - @activity.EndDate.ToString("HH:mm")</p>
                        }
                        <hr />
                    </div>
                    tempTime = activity.StartDate;
                }
            }
        </div>
        <div class="col-md-8">
            <header>
                <h2>
                    @Html.DisplayFor(model => model.Title)
                </h2>
                <b>@Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)</b>
            </header>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
            <ul>
                @foreach (var doc in Model.Documents) {
                    <li><a href="/Document/Get/@doc.Id">@doc.FileName</a> @if (User.IsInRole("Admin")) { @Html.ActionLink("[X]", "Delete", "Document", new { id = doc.Id }, null) } </li>
                }
            </ul>
            <p>
                <hr />
                <b>Enrolled students:</b><br />
                @if (Model.Students.Count > 0) {
                    <span>@string.Join(", ", Model.Students.Select(s => s.FullName))</span>
                }
                else {
                    <span>There are no students assigned to this course.</span>
                }
                <hr />
            </p>
            @if (canEdit) {
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Register a new Student", "RegisterStudent", "Account", new { id = Model.Id }, null) |
                    @Html.ActionLink("Create a new Module", "Create", "Module", new { id = Model.Id }, null)
                </p>
                <form action="/Document/UploadToCourse/@Model.Id" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" value="" />
                    <input type="submit" value="Upload" />
                </form>
            }
            <div>
                @foreach (var module in Model.Modules.OrderBy(m => m.StartDate)) {
                    @Html.Partial("_Module", module)
                }
            </div>
        </div>
        <div class="col-md-2">
            @{
                var assignments = activities.Where(a => a.ActivityType.Name == "Inlämningsuppgift" && a.ActivityType.AllowUploads == true);
                foreach (var assignment in assignments) {
                    var turnedIn = assignment.Documents.Any(a => a.Uploader?.Email == User.Identity.Name);
                    var aid = "activity" + assignment.Id;
                    if (assignment.EndDate > DateTime.Now || !turnedIn) {
                        <div>
                            <h4>
                                <a href="#@aid" onclick="expandActivity(@assignment.Id)">@assignment.Name</a>
                            </h4>
                            @if (!canEdit) {
                                 if (assignment.EndDate < DateTime.Now) {<b class="overdue"><span class="glyphicon glyphicon-remove"></span> Overdue!</b>}
                                 if (turnedIn) {<b class="turnedin"><span class="glyphicon glyphicon-ok"></span> Turned in</b>}
                            }
                            <p><b>Deadline:</b> @assignment.EndDate.ToString("ddd dd MMM, HH:mm")</p>
                            <hr />
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<script src="~/Scripts/collapsemenu.js"></script>