@model MOAS_LMS.Models.View.CourseViewModel

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Details</h4>
    <hr />


    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <span>

        <b>@Html.DisplayFor(model => model.StartDate)</b>
    </span>
    <span> | </span>
    <span>
        <b>@Html.DisplayFor(model => model.EndDate)</b>
    </span>
    <dd>
        <b> @Html.DisplayFor(model => model.Description)</b>
    </dd>






</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
