@model MOAS_LMS.Models.ActivityModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documents)
        </dt>

        <dd>
            <ul>
                @foreach (var doc in Model.Documents) {
                    <li><a href="/Document/Get/@doc.Id">@doc.FileName</a></li>
                }
            </ul>
        </dd>
    </dl>
</div>
@if (Model.ActivityType.AllowUploads) {
    <form action="/Document/UploadHandIn/@Model.Id" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file" value="" />
        <input type="submit"/>
    </form>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Course", "Index")
</p>
